<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>dataaaaaaaaaaaaaaaaaa</h1>
    <h1><%= data.title %></h1>
    <h1><%= data.seconds %></h1>
    <h1><%= data.htmlContent %></h1>

</body>
</html>