* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    background-color: tomato;
    background-image: url('axiompattern.png');
}

.container {
    min-height: 100vh;
}

.top {
    min-height: 35vh;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.bottom {
    min-height: 65vh;

    display: grid;
    grid-template-rows: 100px 100px 100px;
    grid-template-columns: 100px 100px 100px 100px;
    justify-content: center;
    align-content: center;
    gap: 20px;
}

.zoo {
    width: 100px;
    height: 100px;
    border: 4px dashed #fff;
    border-radius: 50%;
}

.zoo img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}


.animals, .animal {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
