<%- include("partials/header.ejs") %>
<div class="container">  
  <div class="item item-1">
    <h1>Crypto Stats by CoinMarketCap</h1>
  </div>
  
  <div class="item item-2">
    <p>dkfmwskdlfasgkasdmgfaksdgasd
        gasdmgasldgmalsşdgmalşsdgmaslşdg
        asdgmaslkdmgaklsgdmaskldgm
    </p>
  </div>
  <div class="item info-container">
    <div id="global-metrics"> 
      <h2>Global Metrics</h2>
      
    </div>

    <div id="top-exchanges"> 
      <h2>Top Exchanges</h2>
     
    </div>

    <div id="top-crypto"> 
      <h2>Top Cryptocurrencies</h2>
      
    </div>
  </div>
  <div class="4">
    <form id="myForm" method="post">      
      <input class="btn btn-success" type="submit" value="Back" formaction="/back-home">
      <!--<input class="btn btn-success" type="submit" value="Exchange List" formaction="/list_exchange">      
      <input id="put" type="submit" value="PUT" formaction="/put-secret">
      <input id="patch" type="submit" value="PATCH" formaction="/patch-secret">
      <input id="delete" type="submit" value="DELETE" formaction="/delete-secret">-->
    </form>
  </div>
</div>